<!DOCTYPE HTML>

<html>
    <head>
        <title>URL-Shortner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
  <body>
    <div class = 'container'>
        <div class="page-header text-center">
            <h1>URL Shortner Microservice</h1>
        </div>
        <div>
            <h3>Overview:</h3>
            <p> This is a FreeCodeCamp API Project where a user can pass a URL as a parameter and will receive a shortened URL in the JSON response</p>
            <h3>Example Creation Usage:</h3>
            <code>https://ms-url-shortner.herokuapp.com/</code> <br>
            <code>https://ms-url-shortner.herokuapp.com/new/https://www.google.com</code> <br>
            <h3>Example Output:</h3>
            <code>{ "original_url":"https://www.google.com", "short_url":"https://ms-url-shortner.herokuapp.com/xxxxxx" }</code>
            <h3>Usage:</h3>
            <code>https://ms-url-shortner.herokuapp.com/2523" }</code> <br> <b>will redirect to</b> <br>
            <code>https://www.google.com</code>
        </div>
    </div>
  </body>
</html>
